name: "Nix Build"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad
      with:
        name:
            owo-uwu-nyaa
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix flake check
